$base-size: 20px;
$theme-color: #33dd33;

.page {
    max-width: 800px !important;
    margin: auto;
    margin-top: $base-size; 
}

.page-content{
    margin-top: 2*$base-size;
}

.username {
    font-style: bold;
    color: $theme-color;
}